{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form  action="/change_password" method="post">
    <label for="current_password">Current Password:</label>
    <input type="password" name="current_password" id="current_password" required>
    <br>
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" id="new_password" required>
    <br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="confirm_password" required>
    <br>
    <input type="submit" value="Change Password">
</form>
{% endblock %}