{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in portfolio %}
        <tr scope="row">
            <td>{{ stock['symbol'] }}</td>
            <td>{{ stock['shares'] }}</td>
            <td>{{ stock['price'] }}</td>
            <td>{{ stock['total']|round(2)|usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Cash: {{ cash_balance|round(2)|usd }}</p>
<p>Total: {{ total_value|round(2)|usd }}</p>
{% endblock %}